/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */



// For example:
//
// @import 'variables/colors.less';
// @import 'mixins/foo.less';
// @import 'mixins/bar.less';
// @import 'mixins/baz.less';
//
// @import 'styleguide.less';
// @import 'pages/login.less';
// @import 'pages/signup.less';
//
// etc.

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);

//Your custom app styles
body, .main-wrap {
  margin: 0;
  padding: 0;
}

#task-list {
  width: 25%;
  margin: 20px auto;
  text-align: left;

  label {
    display: block;
  }
}

.mui-checkbox {
  display: inline-block;
}

.checkbox-label {
  padding: 10px;
}

img.logoBig {
  width: 320px;
  height: auto;
}

.navButton{
  box-shadow: none!important;
}